html {
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    width: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background: linear-gradient(to bottom, rgba(40, 255, 169, 1), rgba(196, 87, 39, 0.75), rgba(230, 151, 219, 1));
    overflow: hidden;
    font-family: 'Changa', sans-serif;
}

p {
    color: white;
}

h2 {
    font-size: 50px;
    line-height: 70px;
    font-weight: 500;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: rgba(0, 0, 0, 0.00);
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 26px;
    margin-left: 15px;
}

.left {
    float: right;
    margin-right: 15px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: rgba(0, 0, 0, 0.00);
    color: rgba(230, 151, 219, 1);
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: rgba(0, 0, 0, 0.00);
    color: white;
}

/* Place the navbar at the bottom of the page, and make it stick */
.bottomnav {
    background-color: rgba(0, 0, 0, 0.00);
    overflow: hidden;
    position: fixed;
    margin-left: 15px;
    bottom: 0;
    width: 100%;
}

/* Style the links inside the navigation bar */
.bottomnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.bottomnav a:hover {
    background-color: rgba(0, 0, 0, 0.00);
    color: rgba(40, 255, 169, 1);
}

/* Add a color to the active/current link */
.bottomnav a.active {
    background-color: rgba(0, 0, 0, 0.00);
    color: white;
}

.container {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); 
    text-align: center;
    font-family: 'Merriweather', serif;
}

.container a{
    color: white;
    text-decoration: none;
}

.container a:hover {
    color: rgba(255, 245, 0, 0.85);
}

.container a > div {
    display: none;
    position: absolute;
    z-index: -9;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.container img {
    width: 70%;
}

.container a:hover>div {
    display: block;
}

.text {
    font-family: 'Merriweather', serif;
    color: white;
    font-size: 30px;
    line-height: 45px;
    margin-left: 15px;
    padding: 14px 16px;
    width: 60%;
    position: absolute;
}

.p5Canvas {
    top: 0;
    z-index: 1000;
    position: absolute;
    pointer-events: none;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.column {
    margin: 0 auto;
    width: 80%;
    position: relative;
    bottom: 45px;
}

.half-column {
    position: relative;
    width: 49.5%;
    display: inline-block;
}

.column img {
    width: 100%;
    margin-top: 25px; 
}

.title {
    text-align: center;
    font-size: 50px;
    color: white;
    font-family: 'Merriweather', serif;
    margin-top: 70px;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    margin-bottom: 30px;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

h2 {
    color: white;
}